name: Publish package

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Poetry
        run: |
          python -m pip install --user pipx
          python -m pipx ensurepath
          pipx install poetry==2.0.0
      - name: Build and publish package
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          poetry version $TAG_NAME
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build